/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: 500;
  line-height: 1;
  border-radius: 1rem;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  &:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */
.cta-btn--hero {
  border-width: 1px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  background-color: $black;
  color: $white;
  
  // Responsive Button hero style
  @include respond(phone) {
    background-image: none;
  }

  &::after {
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    text-decoration: none;
    color: $white;
    // Responsive Button hover hero style
    @include respond(phone) {
    }

    &::after {
      width: 100%;
    }
  }
}

/* Resume Style */
.cta-btn--resume {
  color: $white;
  border: 2px solid $dark-grey;
  background: $dark-grey;
  border-radius: 1rem;

  &:hover {
    color: $dark-grey;
    text-decoration: none;
    background: $white;

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
