#contact {
  background: $light-grey;
  padding: 5rem 0;
  color: $header-font;
  display: none;

  @include respond(tab-land) {
    padding: 5rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: $default-font-size;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
