#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  @include respond(tab-port) {
    height: auto;
    padding-top: 3rem;
  }

  @include respond(phone) {
    padding: 1rem $default-font-size;
    height: unset;

    .hero-background {
      display: none;
    }
    .hero-intro {
      width: 100%;
    }
    .hero-container {
      flex-direction: column;
    }
  }

  .hero-title {
    font-size: $big-font-size;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: $mid-font-size;
    }
    @include respond(tab-port) {
      font-size: $mid-font-size;
    }
    @include respond(phone) {
      font-size: $mid-font-size;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: $mid-font-size
    }
    font-weight: 300;
  }


  .hero-subtitle {
    font-size: $mid-font-size;
    font-weight: 300;
    margin-bottom: 3.2rem;
    text-align: left;
    color: $normal-font;
  }


  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: $default-font-size;

      @include respond(phone) {
        font-size: $default-font-size;
      }
    }
  }
}

.hero-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.hero-intro {
  flex: 1 1 0%;
}

.hero-image {
  flex: 1 1 0%;
  img {
    width: 100%;
  }
}

.pcl-link {
  font-size: $mid-font-size;
  color: $normal-font;
  background-color: rgb(206, 248, 255);
  &:hover {
    background-color: rgb(79, 229, 255);
    color: $normal-font;
  }
}