#projects {
  background-color: $light-grey;
  color: $dark-grey;
  padding-bottom: 5%;

  @include respond(tab-land) {
    margin-top: 0;
  }

  .project-wrapper {

    .row {
      margin-bottom: 8rem;
      @include respond(tab-port) {
        margin-bottom: 8rem;
      }
    }

    &__text {
      text-align: left;

      &-title {
        color: $black;
        font-size: $big-font-size;

        @include respond(phone) {
          font-size: $mid-font-size;
        }
      }
      &-subheading {
        margin-bottom: 1.8rem;
        font-size: $subheading-font-size;

        @include respond(phone) {
          font-size: $default-font-size;
        }
      }
      &-dates {
        background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: $s-font-size;
      }

      &-block {
        margin: 2rem 0 2rem 0;
        @include respond(phone) {
          margin-top: 0;
          margin-bottom: 1rem;
        } 
      }

      & p > a {
        color: $secondary-color;
      }
      &-info {
        color: $normal-font;
        font-size: $default-font-size;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
        padding-top: 2em;
      }

      & .thumbnail {
        border: none;
        -webkit-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
        transition: all 0.2s ease-out;
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}
 
.project-ctas {
  display: flex;
  justify-content: flex-end;
}

.link-btn {
  padding: .5rem 1rem;
  color: $black;
  &:hover {
    color: $black;
  }
}

.github-btn,
.projectinfo-btn {
  background-color: $white;
  padding: .5rem 1rem;
  color: $black;
  border-radius: 1rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition: .2s;
  &:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color: $black;
  }
}

.project-button {
  margin: 5px;
  border: 1rem;
  .fa,
  .fas {
    margin-left: 5px;
    color: $black;
    font-size: 1.5rem;
    line-height: 1.2rem;
    transition: all 0.2s ease-in;
    &:hover {
      transform: translateY(-2px);
    }
  }
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 5px;
}

.projects-title-intro {
  margin-bottom: 3rem;
  text-align: center;
  color: $normal-font;
}

// Project page 
.pp-wrapper{
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  min-height: 40vh;
}

.pp-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pp-title {
  text-align: center;
}

.pp-description {
  text-align: center;
}

.pp-img {
  width: 50px;
  height: auto;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  padding: 5rem 2rem;
}

.pp-img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pp-info-wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 2rem;
}

.pp-info-container {
  display: flex;
  justify-content: center;
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.pp-info-section {
  padding: 0 3rem;
}

.pp-info-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  li {
      background-color: $light-grey;
      padding: .5rem 1rem;
      margin: .5rem 0;
      color: $black;
      border-radius: 1rem;
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
      &:hover {
        color: $black;
      }
      a {
        color: $black;
      }
  }
}

.pp-tech-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  li {
      background-color: $light-grey;
      text-align: center;
      padding: .5rem 1rem;
      margin: .5rem 0;
      color: $black;
      border-radius: 1rem;
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
      a {
        color: $black;
      }
  }
}