#projects {
  background-color: $white-color;
  color: $dark-grey;
  padding-bottom: 5%;

  @include respond(tab-land) {
    margin-top: 0;
  }

  .project-wrapper {

    .row {
      margin-bottom: 8rem;

    }

    &__text {
      text-align: left;

      &-title {
        color: $black;
        font-size: $big-font-size;

        @include respond(phone) {
          font-size: $default-font-size;
        }
      }
      &-subheading {
        margin-bottom: 1.8rem;
        font-size: $subheading-font-size;

        @include respond(phone) {
          font-size: $default-font-size;
        }
      }
      &-dates {
        background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: $s-font-size;
      }

      &-block {
        margin: 2rem 0 2rem 0;
        @include respond(phone) {
          margin-top: 0;
          margin-bottom: 1rem;
        } 
      }

      & p > a {
        color: $secondary-color;
      }
      &-info {
        color: $normal-font;
        font-size: $default-font-size;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
        padding-top: 2em;
      }

      & .thumbnail {
        border: none;
        -webkit-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
        transition: all 0.2s ease-out;
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}
 
.project-ctas {
  display: flex;
  justify-content: flex-end;
}