// COLORS
$primary-color: #173541;
$secondary-color: #1b7c46;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;
$light-grey: #f0f0f0;
$dark-grey: #333333;

$dark-blue-text: #241e46; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
