// COLORS
$primary-color: #ff00bf;
$secondary-color: #ffae18;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white: #fff;
$very-light-grey: #f9f8f8;
$light-grey: #ebebeb;
$normal-grey: #909090;
$dark-grey: #333333;
$black: #000;


$normal-font: #5d666a;
$header-font: #263238;

$dark-blue-text: #241e46; // For Headings

// FONT SIZE
$big-font-size: 2.5rem;
$mid-font-size: 2rem;
$s-font-size: 1rem;
$xs-font-size: 0.8rem;
$subheading-font-size: 1.5rem;
$default-font-size: 1rem;
