// COLORS
$primary-color: #ff00bf;
$secondary-color: #ffae18;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;
$very-light-grey: #f9f8f8;
$light-grey: #ebebeb;
$normal-grey: #909090;
$dark-grey: #333333;


$normal-font: #5d666a;
$header-font: #263238;

$dark-blue-text: #241e46; // For Headings

// FONT SIZE
$big-font-size: 4rem;
$mid-font-size: 3rem;
$s-font-size: 1.5rem;
$xs-font-size: 1.25rem;
$subheading-font-size: 2rem;
$default-font-size: 2rem;
