.footer {
  background-color: $dark-grey;
  color: $white;
  padding: 2rem 0;


  @include respond(phone) {
    border: 0px;
  }

  &__text {
    color: darken(white, 50%);
    font-size: $default-font-size;
    text-align: left;
    align-self: center;

    a {
      color: darken(white, 50%);
      font-size: $default-font-size;
      transition: all 0.4s;
      display: inline-block;

      &:hover,
      &:active {
        color: $primary-color;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: $subheading-font-size;
    width: 5rem;
    height: 5rem;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }
  .fa {
    font-size: $subheading-font-size;
  }
}

.back-to-top i {
  color: $white;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}
