.header {
  background: transparent;
  color: $dark-grey;
  box-shadow: 0 0 5px -3px;

  @include respond(phone) {
    border: 0px;
  }

  &__text {
    color: $dark-grey;
    font-size: $s-font-size;

    a {
      color: $dark-grey;
      font-size: $default-font-size;
      transition: all 0.4s;
      display: inline-block;
      background-color: $dark-grey;

      &:hover,
      &:active {
        color: $primary-color;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
}

.header-social-links {
  display: flex;
  justify-content: flex-end;
  flex: auto;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark-grey;
    font-size: $subheading-font-size;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
    i {
      color: $dark-grey;
    }
  }
}

.back-to-top i {
  color: $white-color;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}

.brand {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  font-size: $big-font-size;
  font-weight: 700;
  flex: auto;
  color: $header-font;
  h1 {
    font-size: $default-font-size;
    transition: 1s;
    margin: 0;
    &:hover {
      font-size: $default-font-size;
      background-image: linear-gradient(
        135deg
        , #ff0267 0%, #ffbd18 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
}